
<div class="container-center">
   
        <h1 class="busqueda-title font-size100 margin-top10"> Ups! Parece que tenemos un problema</h1>
        <h2 class="profile-subtitle font-size50 margin-top3"> 404: NOT FOUND </h2>
        <p class="white font-size20"> No pudimos encontrar la pagina que buscas... </p>
        
        <div class="column-3">
            <a class="button1" href = "/"> Volver al Inicio</a>
        </div>


</div>
