<!-- Para el boton: -->
<%if (currentUser) {%>

    <meta http-equiv="refresh" content="0; URL=/" />
  
  
    <%} else{%>
        <br><br><br><br>
        <div class="container">
          <h1 class="cookie-font center">¿Que eres?</h1>
        </div>
        <br><br><br>
    
    
        <div class="row">
            <div class="container-grid5050">
                <div class="container-button">
                    <div id="btn-whoareyou">
                            <span id="jugador-boton" class="noselect">Un Jugador</span>
                            
                            <div id="jugador-boton"> </div>
    
                            <script>
                                document.getElementById("jugador-boton").onclick = function() {
                                location.href = "users/new";
                                };
                            </script>
                    </div>          
                </div>  

                <div class="container-button">
                    <div id="btn-whoareyou">
                        <span id=recinto-boton class="noselect">Un Recinto Deportivo</span>
                        <div id="recinto-boton"></div>
        
                        <script>
                            document.getElementById("recinto-boton").onclick = function() {
                                location.href = "recinto_deportivos/new";
                            };
                        </script>
        
                    </div>
            </div>        
                </div> 
        </div>

        
    
    <%}%>