<h1>Comentario ID: <%= comentario.id%></h1>
<p> Contenido: <%= comentario.contenido%></p>
<p> Creado: <%= comentario.createdAt%></p>
<a href="<%= updateComentariosPath(comentario.id) %>"> Editar <br></a>