<div>
    <h2>ID: <%= deporte.id%></h2>
    <p>Nombre: <%= deporte.nombre%></p>
    <a href="<%= updateDeportesPath(deporte.id) %>"> Editar <br></a>
</div>
<div>
    <h2>Tiene <%= events.length%> equipos asociados.</h2>
</div>