<form class="modal-content animate" action="<%= createSessionPath %>" method="post">
  <div class="imgcontainer">
    <!-- <img src="/assets/images/rugby.jpg" alt="Avatar" class="avatar"> -->
    <span><i class="fas form-icon fa-door-open"></i></span>
    
  </div>
  <div class="container">
    
    <div id='react-LogInBtn'></div>

</form>
