html, body {
    background-color: #35A6B4; //#35A6B4
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    
  
    
    --background-image: url(https://images.pexels.com/photos/3351270/pexels-photo-3351270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    --primary-color: #ED1C5B;
}

:root {

    --dark-background-color: #111111;
    --dark-text-color: #eeeeee;
    --dark-background-image: url(https://images.pexels.com/photos/793176/pexels-photo-793176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    --dark-landing-subtitle: white;
}

body.theme-dark {

    background-color: #111111 !important;
    color: white;

    .wrap-all-the-things{
        background-image: var(--dark-background-image);
        
        
    }
    .card{
        background: black;
    }
    .landing-subtitle{
        color: var(--dark-landing-subtitle);
    }
    .modal-content{
        background-color: black;
        border: 0px;
    }
    .modal-content2{
        background-color: black;
        border: 0px;
    }
    .card__info{
        background-color: black;
    }
    // people and venue cards
    .blog-card{
        background: black;
        color: black;

        .description{
            background: rgb(46, 46, 46);
            color: white;
            &:before{
                background:rgb(46, 46, 46);
            }
        }
    }

    .icon-shirt-color{
        color: #111111
    }

    // Log in / Sign In
    #btn-whoareyou{
        background: #ED1C5B;
        color: color;
    }

    #btn-whoareyou:hover {
        background: transparent;
      }


}

@media (prefers-color-scheme: dark){
    body.theme-auto{ 
        .wrap-all-the-things{
            background-image: var(--dark-background-image);
            
        }
    }
}

// .dark-mode{
//    
//    html, body {
//        background-color: black !important;
//        margin: 0 0 0 0;
//        padding: 0 0 0 0;
//        border: 0 0 0 0;
//   }
//    color: white;
//    background: black;
// 
//    .wrap-all-the-things{
//        background-image: url(https://images.pexels.com/photos/2458128/pexels-photo-2458128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
//        
//    }
//    .card {
//      background-color: black;
//    }
//  
//  }

  