.white-bg{
    background-color: #f1f1f1;
}

.red-bg{
    background-color: red;
}

.white{
    color: white;
}

.blue{
    color: #000cb3;
}

.light-yellow{
    color: #acac37;
}
.red{
    color: red;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

.width-auto{
    width: auto;
}

.padding-top1{
    padding-top: 1%;
}

.padding-20{
    padding-top: 20%;
}

.paint-white{
    color: white;
}

.font-size20{
    font-size: 20px;
}

.font-size22{
    font-size: 22px;
}

.font-size35{
    font-size: 35px;
}

.font-size50{
    font-size: 50px;
}

.font-size100{
    font-size: 100px;
}

.font-size125{
    font-size: 125px;
}

.textalign-left{
    text-align: left;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-left-5{
    margin-left: 5%;
}

.margin-top10{
    margin-top: 10%;
}

.margin-top3{
    margin-top: 3%;
}

.height-290{
    height: 290px;
}

.padding-margin-0{
    margin: 0;
    padding: 0;
}

.new-solicitud-icon{
    margin-bottom: 10px; 
    white-space: nowrap;
}

.border-radius10{
    border-radius: 10px;
}