.fas{
    margin-left: 22px;
    margin-right: 5%;
    color: white;
    font-size: 35px;
    font-weight: normal;
    
}

.form-icon{
    font-size: 150px;
    color: #ED1C5B;
}

.smaller-icon{
    font-size: 80px;
    color: #ED1C5B;
}

.list-icon{
    font-size: 15px;
    color: #ED1C5B;
}

.icon-shirt-color{
    color: #35A6B4
}

.icon-little{
    margin-left: 10px !important;
    font-size: 20px !important ;
}

.icon-little2{
    margin-left: 0px !important;
    font-size: 20px !important ;
    margin-right: 5px !important; 
}


.icon-container{
    margin-left: 5px !important;
    font-size: 28px !important ;
    margin-left: 33%;
    margin-right: 2%;
}

.br-sustitute{
    line-height:12px;
}

.br-big-sustitute{
    margin-top: 35px;
}