
/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin: 6% auto 3% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  
}
